body{
    font-family: 'Maven Pro', sans-serif;
}
.nav{
    display: flex;
    background-color: white;
}

h1{
    color: gray;
    margin: 0px;
    font-family: cursive;
    padding-right: 45%;
}

.line{
    height: 2px;
    width: auto;
    background-color: black;
}

.navOpt{
    color: blue;
    background-color: white;
    border: 5px;
    border-color: white;
    padding: 0px 15px 0px 15px;
    float: right;
    border-radius: 7px;
}
.nav button:hover{
    cursor: pointer;
    background-color: aqua;
}

.nav button.active{
    background-color: lightgrey;
    color: black;
}

.pageContent{
    display: none;
}

.footer{
    position:fixed;
    text-align: center;
    margin:auto;
    width:100%;
    bottom: 0; 

}

#toPay{
    font-size: larger;
    color: red;
}
